[databases]
* = host=127.0.0.1 port=5432 dbname=postgres

[pgbouncer]
listen_addr = *  
listen_port = 6432  
pool_mode = transaction  
max_client_conn = 100  
default_pool_size = 20  
auth_type = md5  
admin_users = postgres
server_tls_sslmode = require  
auth_file = /etc/pgbouncer/userlist.txt
logfile = /var/lib/pgbouncer/pgbouncer.log  
pidfile = /var/lib/pgbouncer/pgbouncer.pid  